{{ $concat := slice }}
{{ $template := "claris/_functions/resources/concat-slices" }}
{{ $debug := and false (page.Param "clarisdebug") }}

{{ if $debug }}
  {{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
      (replaceRE `.*?([^/]+)$` `$1` $template) }}
  {{ warnf "%s args:\n%v" $dbg (jsonify (dict "indent" "  ") $) }}
{{ end }}

{{ if reflect.IsSlice . }}
  {{ range $i, $v := . }}
    {{ $valueType := printf "%T" $v }}
    {{ if eq $valueType "<nil>" }}
      {{ if $debug }}
        {{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
            (replaceRE `.*?([^/]+)$` `$1` $template) }}
        {{ warnf "%s skipping element in slice at position %d: %v [type=%T] from args:\n%v" $dbg
            $i $v $v  (jsonify (dict "indent" "  ") $) }}
      {{ end }}
    {{ else if eq $valueType "string" }}
      {{ $v = split (trim $v " ") " " }}
    {{ else if not (reflect.IsSlice $v) }}
      {{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
          (replaceRE `.*?([^/]+)$` `$1` $template) }}
      {{ errorf "%s invalid element in slice at position %d: %v [type=%T] from args:\n%v" $dbg
          $i $v $v (jsonify (dict "indent" "  ") $) }}
      {{ $v = false }}
    {{ end }}
    {{ with $v }}
      {{ range . }}
        {{ with . }}
          {{ $concat = append . $concat }}
        {{ else }}
          {{ if $debug }}
            {{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
                (replaceRE `.*?([^/]+)$` `$1` $template) }}
            {{ warnf "%s ignoring empty string %q [type=%T]" $dbg . . }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
      (replaceRE `.*?([^/]+)$` `$1` $template) }}
  {{ errorf "%s invalid argument: expected a slice of slices or strings but got %#v [type=%T]" $dbg . . }}
{{ end }}

{{ return $concat }}
