{{- $template := "claris/_components/render-meta-images" }}
{{- $page := default page .Page }}
{{- $meta := page.Scratch.Get "clarismeta" }}
{{- $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{- $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{- $renderImageArgs := . -}}
{{- $renderImageArgs = merge $renderImageArgs (dict
  "Debug" $debug
) -}}

{{- $kindParam := .kind -}}
{{- $variantParam := .variant -}}
{{- $versionParam := .version -}}

{{- $imageMeta := dict }}
{{- with $meta.Single.Data.Images }}
  {{- $imageMeta = . }}
{{- else }}
  {{- $metaImagesParams := (dict
    "Params" $page.Params
    "Debug" false
  ) }}
  {{- $imageMeta = partialCached "claris/_functions/meta/images/from-params" (merge $metaImagesParams (dict "Page" $page) ) $metaImagesParams }}
{{- end }}

{{- if and false $debug }}
  {{- warnf "%s Processing imageMeta:\n%v" $dbg (jsonify (dict "indent" "  ") $imageMeta) }}
{{- end }}

{{- if $kindParam }}
  {{- with index $imageMeta $kindParam }}
    {{- $imageMeta = (dict $kindParam . ) }}
  {{- end }}
  {{- if and false $debug }}
    {{- warnf "%s use only .kind=%v of imageMeta:\n%v" $dbg $kindParam (jsonify (dict "indent" "  ") $imageMeta) -}}
  {{- end }}
{{- end }}

{{- range $kindName, $kindMeta := $imageMeta }}

  {{- if and false $debug }}
    {{- warnf "%s Processing kind=%v with .variant:\n%v" $dbg
        $kindName (jsonify (dict "indent" "  ") $kindMeta.variant) }}
  {{- end }}

  {{- $imageMetaKind := .variant }}

  {{- if $variantParam }}
    {{- with index $imageMetaKind $variantParam }}
      {{- $imageMetaKind = (dict $variantParam . ) }}
    {{- end }}
    {{- if and false $debug }}
      {{- warnf "%s use only .variant=%v of imageMetaKind:\n%v" $dbg $variantParam (jsonify (dict "indent" "  ") $imageMetaKind) -}}
    {{- end }}
  {{- end }}

  {{- range $variantName, $variantMeta := $imageMetaKind }}

    {{- if and false $debug }}
      {{- warnf "%s Processing variant=%v with .version:\n%v" $dbg
          $variantName (jsonify (dict "indent" "  ") $variantMeta.version) }}
    {{- end }}

    {{- $imageMetaKindVariant := .version }}
    {{- if $versionParam }}
      {{- with index $imageMetaKindVariant $versionParam }}
        {{- $imageMetaKindVariant = (dict $versionParam . ) }}
      {{- end }}
      {{- if and false $debug }}
        {{- warnf "%s use only .version=%v of imageMetaKindVariant:\n%v" $dbg $versionParam (jsonify (dict "indent" "  ") $imageMetaKindVariant) -}}
      {{- end }}
    {{- end }}

    {{- range $versionName, $versionMeta := $imageMetaKindVariant }}
      {{- if $debug }}
        {{- warnf "%s Processing version=%v with .resource=%v [%v]" $dbg
            $versionName $versionMeta.resource $versionMeta.resource.MediaType }}
      {{- end }}
      {{- with $imageAttributes := partialCached "claris/_functions/resources/images/render-image-attrs"
            (merge . (dict "Page" $page) ) (merge . (dict "Page" nil) ) }}
        {{- partialCached "claris/_components/render-element" (merge . (dict "Page" $page) ) (merge . (dict "Page" nil) ) }}
      {{- else }}
        {{- errorf "%s render-image-attributes returned %v [type=%T]" $dbg . . }}
      {{- end}}
    {{- end}}

  {{- end }}
{{- end }}
