{{ $template := "claris/_functions/resources/images/get-ratio-fraction" }}
{{ $debug := and false (page.Param "clarisdebug") }}
{{ $dbg := printf "%s [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $aspectRatio := dict }}
{{ $arg := . }}
{{ $aspectRatioFloat := 1.0 }}
{{ with printf "%T" $arg }}
  {{ if strings.Contains . "resources.resourceAdapter" }}
    {{ $dim := partial "claris/_functions/resources/images/get-dimensions" $arg }}
    {{ $aspectRatioFloat = $dim.ratio }}
  {{ else if strings.Contains . "float" }}
    {{ $aspectRatioFloat = float $arg }}
  {{ else }}
    {{ errorf "%s unable to get ratio fraction from arg=%v [type=%T] need type 'resources.resourceAdapter' or 'float64'"
        $dbg $arg $arg }}
  {{ end }}
{{ end }}

{{ $aspectRatioRounded := div (math.Round (mul $aspectRatioFloat 1000) ) 1000 }}
{{ $aspectRatioInteger := slice 0 0}}

{{ $aspectRatios := (slice
  (slice 1 1)
  (slice 5 6)
  (slice 4 5)
  (slice 3 4)
  (slice 2 3)
  (slice 3 5)
  (slice 9 16)
  (slice 1 2)
  (slice 1 3)
  (slice 1 4)
  (slice 1 5)
  (slice 1 6)
  (slice 1 7)
  (slice 1 8)
  (slice 1 9)
  (slice 1 10)
) }}


{{ $candMatch := (dict
  "Deviation" 100.0
  "AspectRatio" false
) }}

{{ $tallRatio := $aspectRatioFloat }}
{{ if gt $aspectRatioFloat 1.0 }}
  {{ $tallRatio = div 1 $aspectRatioFloat }}
{{ end }}


{{ $bestMatch := false }}

{{ range $aspectRatios }}
  {{ if not $bestMatch }}
    {{ $candRatio := div (float (index . 0)) (index . 1) }}
    {{ $deviation := math.Pow (sub (div $candRatio $tallRatio) 1) 2 }}
    {{ if (lt $deviation $candMatch.Deviation) }}
      {{ if $debug }}
        {{ warnf "%s candidate ratio=%0.4g deviation=%0.4g cand aspect=%v deviation=%0.4g"
            $dbg $candRatio $deviation $candMatch.AspectRatio $candMatch.Deviation }}
      {{ end }}
      {{ $candMatch = (dict
        "Deviation" $deviation
        "AspectRatio" .
      ) }}
    {{ else }}
      {{ $bestMatch = $candMatch }}
      {{ if $debug }}
        {{ warnf "%s candidate ratio=%0.4g deviation=%0.4g deviates more than best aspect=%v deviation=%0.4g"
            $dbg $candRatio $deviation $bestMatch.AspectRatio $bestMatch.Deviation }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* If the deviation is too large, we use a non-standard aspect ratio */}}
{{ $maxDeviation := 0.0001 }}
{{ if gt $bestMatch.Deviation $maxDeviation }}
    {{ $candRatioNumerator := 1024 }}
    {{ $candRatioDenominator := int (math.Round (mul $aspectRatioFloat $candRatioNumerator) ) }}
    {{ $customRatio := div (float $candRatioNumerator) $candRatioDenominator }}
    {{ $customAspect := slice $candRatioNumerator $candRatioDenominator }}
    {{ $customRatioDeviation := math.Pow (sub (div $customRatio $tallRatio) 1) 2 }}
    {{ if $debug }}
      {{ warnf "%s best aspect=%v deviation=%0.4g > %0.4g: custom aspect=%v deviation=%0.4g"
          $dbg $bestMatch.AspectRatio $bestMatch.Deviation $maxDeviation $customAspect $customRatioDeviation }}
    {{ end }}
    {{ $bestMatch = (dict
      "Deviation" $customRatioDeviation
      "AspectRatio" $customAspect
    ) }}
{{ end }}

{{ $aspectRatioInteger = $bestMatch.AspectRatio }}
{{ if gt $aspectRatioFloat 1.0 }}
  {{ $aspectRatioInteger = slice (index $aspectRatioInteger 1) (index $aspectRatioInteger 0) }}
{{ end }}

{{ $aspectRatioHuman := (printf "%dx%d" (index $aspectRatioInteger 0) (index $aspectRatioInteger 1) ) }}
{{ $aspectRatioFraction := (printf "%d / %d" (index $aspectRatioInteger 0) (index $aspectRatioInteger 1) ) }}
{{ if $debug }}
  {{ warnf "%s input ratio=%0.4g mapped to: integer=%v fraction=%s"
      $dbg $aspectRatioFloat $aspectRatioInteger $aspectRatioFraction }}
{{ end }}

{{ if and (gt (index $aspectRatioInteger 0) 0) (gt (index $aspectRatioInteger 1) 0) }}
  {{ $aspectRatio = (dict
    "integer" $aspectRatioInteger
    "human" $aspectRatioHuman
    "fraction" $aspectRatioFraction
    "float" $aspectRatioFloat
    "rounded" $aspectRatioRounded
  ) }}
{{ else }}
  {{ errorf "%s invalid ratio='%v'[%T]" $dbg $aspectRatioFloat }}
{{ end }}

{{ return $aspectRatio }}

