{{ $template := "claris/_functions/resources/images/image-sizespec" }}
{{ $sizeSpec := "" }}
{{ $page := default page .Page }}
{{ $debug := or false .Debug }}
{{/* {{- $debug = or $debug (findRE `quantum-supremacy|time-machine-volume-uuid|about` $page.RelPermalink) }} */}}
{{ $dbg := printf "%s%s[%s]" site.LanguagePrefix (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $width := .width }}
{{ $height := .height }}
{{ $maxWidthParam := .maxwidth }}
{{ $maxHeightParam := .maxheight }}
{{ $targetRatio := .ratio }}

{{ with $width }}
  {{ with $height }}
    {{ if $targetRatio }}
      {{ errorf "%s overspecified: only specify two out of .width=%v .height=%v .ratio=%v"
          $dbg $width $height $targetRatio }}
    {{ end }}
    {{ $sizeSpec = printf "%dx%d" $width $height }}
  {{ else }}
    {{ with $targetRatio }}
      {{ $sizeSpec = printf "%dx%d" $width (div $width $targetRatio | math.Round | cast.ToInt) }}
    {{ else }}
      {{ $sizeSpec = printf "%dx" $width }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ with $height }}
    {{ with $targetRatio }}
      {{ $sizeSpec = printf "%dx%d" (mul $height $targetRatio | math.Round | cast.ToInt) $height }}
    {{ else }}
      {{ $sizeSpec = printf "x%d" $height }}
    {{ end }}
  {{ end }}
{{ end }}
{{ if not $sizeSpec }}
  {{/* Maintain the same size */}}
  {{ $sizeSpec = printf "%dx" .resource.Width }}
{{ end }}
  
{{ return $sizeSpec }}