
{{ $template := "claris/_functions/resources/images/parse-args" }}
{{ $dbg := printf "%s%v [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
  (cond (not .resource) (cond (not .src) "" .src) (printf " resource=%v [%v]" .resource .resource.MediaType) )
  (replaceRE `.*?([^/]+)$` `$1` $template) }}
{{ $debug := false }}

{{ $imageArgs := false }}
{{ $parsedArgs := dict }}
{{ if and (reflect.IsMap $) $.Page }}
  {{ $page := .Page }}
  {{ $debug = and false (or .Debug ($page.Param "clarisdebug") ) }}
  {{ $imageArgs = partial "claris/_functions/resources/images/parse-image-args" . }}
{{ else }}
  {{ errorf `%s pass a map of arguments to parse and include context under key "Page"` $dbg }}
{{ end }}
{{ if $imageArgs }}
  {{ $processingArgs := partial "claris/_functions/resources/images/parse-processing-args" . }}
  {{ if $processingArgs.Page }}
    {{ errorf "%s parse-processing-args returned .Page" $dbg }}
  {{ end }}
  {{ $containerArgs := partial "claris/_functions/resources/images/parse-container-args" . }}
  {{ if $containerArgs.Page }}
    {{ errorf "%s parse-container-args returned .Page" $dbg }}
  {{ end }}

  {{ $parsedArgs = (dict
    "image" $imageArgs
    "processing" $processingArgs
    "container" $containerArgs
  ) }}

  {{ if and false $debug }}
    {{ $resourceString := $parsedArgs.resource }}
    {{ with $parsedArgs.resource }}
      {{ $resourceString = printf "%s [%s]" .Name .MediaType }}
    {{ end }}
    {{ warnf "%s parsed initial args:\n%v\nReturning parsedArgs:\n%v" $dbg
        (jsonify (dict "indent" "  ") (merge $ (dict "Page" "omitted" ) ) )
        (jsonify (dict "indent" "  ") (merge $parsedArgs (dict "resource" $resourceString) )
      ) }}
  {{ end }}
{{ else }}
  {{ errorf "%s missing image resource: .src=%v .resource=%v" $dbg
      .src .resource }}
{{ end }}

{{ return $parsedArgs }}

{{ define "partials/claris/_functions/resources/images/parse-default-args" }}
  {{ $template := "claris/_functions/resources/images/parse-default-args" }}
  {{ $dbg := printf "%s%v [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
    (cond (not .resource) (cond (not .src) "" .src) (printf " resource=%v [%v]" .resource .resource.MediaType) )
    (replaceRE `.*?([^/]+)$` `$1` $template) }}
  {{ $parsedArgs := dict }}
  {{ if and (reflect.IsMap $) $.args.Page }}
    {{ $page := default $.Page $.args.Page }}
    {{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}

    {{ $args := merge .args (dict "Page" nil) }}
    {{ $defaults := .defaults }}

    {{ range $k, $defaultValue := $defaults }}
      {{ $argValue := index $args $k }}
      {{ with $v := or $argValue $defaultValue }}
        {{ if reflect.IsSlice $defaultValue }}
            {{ $v = partialCached "claris/_functions/resources/concat-slices"
                (slice $argValue $defaultValue) $argValue $defaultValue }}
        {{ end }}
        {{ $parsedArgs = merge $parsedArgs (dict $k $v ) }}
      {{ end }}
    {{ end }}
    {{ if $debug }}
      {{ warnf "%s parsed args:\n%v\nwith defaults:\n%v\nReturning parsedArgs:\n%v" $dbg
          (jsonify (dict "indent" "  ") $args)
          (jsonify (dict "indent" "  ") $defaults)
          (jsonify (dict "indent" "  ") $parsedArgs) }}
    {{ end }}
  {{ else }}
    {{ errorf `%s pass a map of arguments to parse and include context under key "Page"` $dbg }}
  {{ end }}

  {{ return $parsedArgs }}
{{ end }}

{{ define "partials/claris/_functions/resources/images/parse-image-args" }}
  {{ $template := "claris/_functions/resources/images/parse-image-args" }}
  {{ $dbg := printf "%s%v [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
    (cond (not .resource) (cond (not .src) "" (printf " %v" .src) ) (printf " resource=%v [%v]" .resource .resource.MediaType) )
    (replaceRE `.*?([^/]+)$` `$1` $template) }}
  {{ $debug := false }}

  {{ $page := false }}
  {{ $defaultVersionID := "default" }}
  {{ $shapeAttributes := slice "round" }}

  {{ $defaults := false }}
  {{ $versions := false }}
  {{ $parsedArgs := dict }}
  {{ $augmentedArgs := dict }}

  {{ if and (reflect.IsMap $) $.Page }}
    {{ $page = .Page }}
    {{ $debug = and false (or .Debug ($page.Param "clarisdebug") ) }}

    {{ $args := merge $ (dict "Page" nil) }}

    {{ $defaults = (dict
      "src" nil
      "resource" nil
      "version" nil
      "alt" nil

      "sizespec" nil
      "width" nil
      "height" nil
      "minwidth" nil
      "maxwidth" nil
      "minheight" nil
      "maxheight" nil
      "aspect" nil
      "ratio" nil
      "aspectratio" nil

      "shape" nil
      "borderradius" nil

      "position" nil
      "sizes" "100vw"
      "relativewidth" nil
      "lightbox" nil

      "fetchpriority" nil
      "loading" nil

      "imgclass" (slice "responsive")
    ) }}

    {{ with $.version }}
      {{ $versions = . }}
      {{ if and false $debug }}
        {{ warnf "%s Using versions from .version:\n%v\nInitial args:\n%v" $dbg
            (jsonify (dict "indent" "  ") $versions)
            (jsonify (dict "indent" "  ") $args) }}
      {{ end }}
    {{ else }}
      {{ $versions = partialCached "claris/_functions/resources/images/get-version-meta" $ $args }}
      {{ if and true $debug }}
        {{ warnf "%s Generated versions:\n%v\nInitial args:\n%v" $dbg
            (jsonify (dict "indent" "  ") $versions)
            (jsonify (dict "indent" "  ") $args) }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ errorf `%s pass a map of arguments to parse and include context under key "Page"` $dbg }}
  {{ end }}

  {{ if $versions }}
    {{/* If the value for `ratio` is a slice, we interpret this as a range of ratios
      and generate versions to span the entire range */}}

    {{ if reflect.IsSlice .ratio }}
      {{ if (eq (len .ratio) 2) }}
        {{ $numVersions := len $versions }}
        {{ $ratioMin := index .ratio 0 | cast.ToFloat }}
        {{ $ratioMax := index .ratio 1 | cast.ToFloat }}
        {{ $augmentedVersions := dict }}
        {{ range $versionID, $versionMeta := $versions }}
          {{ $versionMeta = merge $versionMeta (dict "name" $versionID) }}
          {{ $augmentedVersionWithID := partialCached "claris/_functions/resources/images/get-version-meta" $versionMeta $versionMeta }}
          {{ if and false $debug }}
            {{ warnf "%s get-version-meta returned:\n%v\nbased on versionID=%v and versionMeta:\n%v"
              $dbg (jsonify (dict "indent" "  ") $augmentedVersionWithID) $versionID
              (jsonify (dict "indent" "  ") $versionMeta) }}
          {{ end }}
          {{ $augmentedVersions = merge $augmentedVersionWithID $augmentedVersions }}
        {{ end }}
        {{ if and false $debug }}
          {{ warnf "%s augmented versions:\n%v\nbased on version:\n%v" $dbg
            (jsonify (dict "indent" "  ") $augmentedVersions)
            (jsonify (dict "indent" "  ") $versions) }}
        {{ end }}

        {{ $derivedVersions := slice }}

        {{/* Maximum height of the image relative to the viewport height */}}
        {{ $maxRelativeHeight := default 0.5 .relativeheight | float }}

        {{ $unmodifiedVersionMeta := false }}
        {{ range $versionIdx, $versionMeta := sort $augmentedVersions "ratio" "asc" }}
          {{ $resource := $versionMeta.resource }}
          {{ if eq (len $derivedVersions) 0 }}
            {{/* The first version is rendered as default, without a `media` attribute.
            Since this is the version rendered on mobile phones in portrait orientation,
            we want it to be rendered without any slack. For this reason, we crop it to
            the aspect ratio $ratioMin */}}
            {{/* Determine if the version's aspect ratio deviates too much from $ratioMin
            and needs to be cropped */}}
            {{ if (gt (pow (sub (div $versionMeta.ratio $ratioMin) 1) 2) 0.01) }}
              {{ $minProcessArgs := merge $versionMeta (dict "ratio" $ratioMin) }}
              {{ $minRatioResource := partial "claris/_functions/resources/images/process-image" $minProcessArgs }}
              {{ $minRatioAspectRatio := partial "claris/_functions/resources/images/get-ratio-fraction" $minRatioResource }}
              {{ $minRatioVersionMeta := merge $versionMeta (dict
                "resource" $minRatioResource
                "name" $defaultVersionID
                "index" (len $derivedVersions)
                "aspect" $minRatioAspectRatio.human
                "ratio" $minRatioAspectRatio.float
              ) }}
              {{ $derivedVersions = append $minRatioVersionMeta $derivedVersions }}
              {{ if $debug }}
                {{ warnf "%s versionID=%v: version ratio=%.4g cropped to %.4g to cover the minimum ratio in [%.4g %.4g]:\n%v" $dbg
                  $versionMeta.name $versionMeta.ratio $minRatioVersionMeta.ratio
                  $ratioMin $ratioMax (jsonify (dict "indent" "  ") $versionMeta)
                }}
              {{ end }}
            {{ else }}
              {{ $unmodifiedVersionMeta = $versionMeta }}
              {{ $derivedVersions = append $versionMeta $derivedVersions }}
              {{ if $debug }}
                {{ warnf "%s versionID=%v: version ratio=%.4g used unmodified to cover the minimum ratio in [%.4g %.4g]:\n%v" $dbg
                  $versionMeta.name $versionMeta.ratio
                  $ratioMin $ratioMax (jsonify (dict "indent" "  ") $versionMeta)
                }}
              {{ end }}
            {{ end }}
          {{ end }}

          {{/* Add the uncropped version unless it has already been added */}}
          {{ if not $unmodifiedVersionMeta }}
            {{ $previousVersion := index $derivedVersions (sub (len $derivedVersions) 1) }}
            {{ $breakpointRatio := mul $maxRelativeHeight $previousVersion.ratio }}
            {{ $mediaRatioFraction := partial "claris/_functions/resources/images/get-ratio-fraction" $breakpointRatio }}
            {{ $versionMeta = merge $versionMeta (dict
              "name" (printf "ratio_%.4g" $versionMeta.ratio)
              "index" (len $derivedVersions)
              "media" (printf "(min-aspect-ratio: %s)" $mediaRatioFraction.fraction)
            ) }}
            {{ if $debug }}
              {{ warnf "%s versionID=%v: version ratio=%.4g added unmodified as it is between [%.4g %.4g]:\n%v" $dbg
                $versionMeta.name $versionMeta.ratio
                $ratioMin $ratioMax (jsonify (dict "indent" "  ") $versionMeta)
              }}
            {{ end }}
            {{ $derivedVersions = append $versionMeta $derivedVersions }}
          {{ end }}

          {{ if eq $versionIdx (sub $numVersions 1) }}
            {{/* This is the last version */}}
            {{ $maxProcessArgs := merge $versionMeta (dict "ratio" $ratioMax) }}
            {{ $maxRatioResource := partial "claris/_functions/resources/images/process-image" $maxProcessArgs }}
            {{/* {{ $maxProcessArgs := merge $versionMeta (dict "target" (dict "ratio" $ratioMax) ) }}
            {{ $maxRatioResource := $resource }} */}}
            {{ $maxRatioAspectRatio := partial "claris/_functions/resources/images/get-ratio-fraction" $maxRatioResource }}
            {{ $maxRatioVersionMeta := merge $versionMeta (dict
              "resource" $maxRatioResource
              "name" (printf "ratio_%.4g" $maxRatioAspectRatio.float)
              "index" (len $derivedVersions)
              "aspect" $maxRatioAspectRatio.human
              "ratio" $maxRatioAspectRatio.float
            ) }}
            {{ if gt (len $derivedVersions) 0 }}
              {{/* Use this version when the screen ratio exceeds
                the aspect of the previous version */}}
              {{ $previousVersion := index $derivedVersions (sub (len $derivedVersions) 1) }}
              {{ $breakpointRatio := mul $maxRelativeHeight $previousVersion.ratio }}
              {{ $mediaRatioFraction := partial "claris/_functions/resources/images/get-ratio-fraction" $breakpointRatio }}
              {{ $maxRatioVersionMeta = merge $maxRatioVersionMeta (dict
                "media" (printf "(min-aspect-ratio: %s)" $mediaRatioFraction.fraction)
              ) }}
            {{ end }}
            {{ if $debug }}
              {{ warnf "%s versionID=%v: version ratio=%.4g cropped to %.4g to cover the maximum ratio in [%.4g %.4g]:\n%v" $dbg
                $versionMeta.name $versionMeta.ratio $maxRatioVersionMeta.ratio
                $ratioMin $ratioMax (jsonify (dict "indent" "  ") $versionMeta)
              }}
            {{ end }}
            {{ $derivedVersions = append $maxRatioVersionMeta $derivedVersions }}
          {{ end }}
        {{ end }}

        {{ if $debug }}
          {{ warnf "%s derived versions:\n%v\nbased on augmented versions:\n%v" $dbg
            (jsonify (dict "indent" "  ") $derivedVersions)
            (jsonify (dict "indent" "  ") $augmentedVersions) }}
        {{ end }}

        {{ $versions = $derivedVersions }}

      {{ else }}
        {{ errorf "%s when .ratio is a slice, it must have two elements: the lower and upper ratio" $dbg }}
      {{ end }}
    {{ end }}

    <!-- Eliminate "Page" and the processed "ratio", "src" and "resource" key -->
    {{ $augmentedArgsClean := dict }}
    {{ range $k, $v := $ }}
      {{ if not (in (slice "Page" "ratio" "src" "resource") $k) }}
        {{ $augmentedArgsClean = merge $augmentedArgsClean (dict $k $v) }}
      {{ end }}
    {{ end }}
    {{ $augmentedArgs = $augmentedArgsClean }}

    {{ if and false $debug }}
      {{ warnf "%s Processing versions:\n%v\nfrom initial args:\n%v" $dbg
          (jsonify (dict "indent" "  ") $versions)
          (jsonify (dict "indent" "  ") (merge $ (dict "Page" "omitted") ) ) }}
    {{ end }}

    {{ $processedVersions := dict }}
    {{ range $versionIdx, $versionMeta := $versions }}
      {{ if and true $debug }}
        {{ warnf "%s Processing versionID=%v:\n%v" $dbg
            $versionMeta.name (jsonify (dict "indent" "  ") $versionMeta) }}
      {{ end }}
      {{ $resource := .resource }}
      {{ if not $resource }}
        {{ with .src }}
          {{ $imageResourceArgs := (dict "src" . "resourcetype" "image") }}
          {{ with $resource = partialCached "claris/_functions/resources/get-resource"
              (merge $imageResourceArgs (dict "Page" $page)) $imageResourceArgs }}
          {{ else }}
            {{ errorf "%s invalid .src: no matching resource found. Initial args:\n%v" $dbg
              (jsonify (dict "indent" "  ") (merge $ (dict "Page" "omitted") ) ) }}
          {{ end }}
        {{ else }}
          {{ errorf "%s neither .resource nor .src are valid. Initial args:\n%v" $dbg
            (jsonify (dict "indent" "  ") (merge $ (dict "Page" "omitted") ) ) }}
        {{ end }}
      {{ end }}

      {{ with $resource }}
        {{ $processedVersions = merge $processedVersions (dict $versionMeta.name (merge $versionMeta (dict
            "resource" $resource
          ) )
        ) }}
        {{ if and true $debug }}
          {{ warnf "%s added version meta with resource=%v [%v] to processedVersions under versionID=%v: processedVersions:\n%v" $dbg
              $resource $resource.MediaType $versionMeta.name
              (jsonify (dict "indent" "  ") $processedVersions) }}
        {{ end }}
      {{ else }}
        {{ errorf "%s failed to obtain resource: $.resource=%v $.src=%v" $dbg
            $.resource $.src }}
      {{ end }}
    {{ end }}

    {{ $augmentedArgs = merge $augmentedArgs (dict "version" $processedVersions) }}
    {{ with $augmentedArgs }}
      {{ if and false $debug }}
        {{ warnf "%s Done parsing versions; now applying defaults to augmentedArgs:\n%v" $dbg
            (jsonify (dict "indent" "  ") $augmentedArgs) }}
      {{ end }}

      {{ $parsedArgs = partial "claris/_functions/resources/images/parse-default-args"
          (dict "args" (merge $augmentedArgs (dict "Page" $page) ) "defaults" $defaults) }}
      {{ $parsedArgs = partial "claris/_functions/resources/images/parse-image-dimensions" $parsedArgs }}

      {{ if and false $debug }}
        {{ warnf "%s Done parsing image resources; now parsing remaining arguments in parsedArgs:\n%v" $dbg
            (jsonify (dict "indent" "  ") (merge $parsedArgs (dict "Page" "omitted") ) ) }}
      {{ end }}

      {{ with .relativewidth }}
        {{ $parsedArgs = merge $parsedArgs (dict
            "sizes" (partial "claris/_functions/resources/images/img-sizes-attr" . )
        ) }}
      {{ end }}

      {{ with .position }}
        {{ $parsedArgs = merge $parsedArgs (dict
            "style" (printf "object-fit: cover; object-position: %v" . )
        ) }}
      {{ end }}

      {{ $imgClass := default slice .imgclass }}
      {{ if not (reflect.IsSlice $imgClass ) }}
        {{ $imgClass = slice $imgClass }}
      {{ end }}
      {{ with .shape }}
        {{ with trim . " " | lower }}
          {{ if in $shapeAttributes . }}
            {{ $imgClass = append (printf "shape-%s" .) $imgClass }}
          {{ else }}
            {{ errorf "%s invalid value for .float=%v [type=%T]" $dbg . . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{/* To achieve a '100' score on Lighthouse, it's key to determine
        which images to prioritize and to let all others be loaded lazily
        with `fetchpriority="low"` */}}
      {{ $fetchPriority := "low" }}
      {{ with or .fetchpriority $fetchPriority }}
        {{ if (in (slice "auto" "low" "high") . ) }}
          {{ $fetchPriority = . }}
          {{ $parsedArgs = merge $parsedArgs (dict "fetchpriority" $fetchPriority ) }}
        {{ else }}
            {{ errorf "%s Invalid value for fetchpriority: .fetchpriority=%v [type %T]"
                $dbg $fetchPriority $fetchPriority -}}
        {{ end }}
      {{ end }}

      {{/* Default the `loading` attribute to `lazy` */}}
      {{ $loading := "lazy" }}
      {{ with $parsedArgs.fetchpriority }}
        {{ if eq . "auto" }}
          {{ $loading = false }}
        {{ else if eq . "high" }}
          {{ $loading = "eager" }}
        {{ end }}
      {{ end }}
      {{ with or .loading $loading }}
        {{ $parsedArgs = merge $parsedArgs (dict "loading" . ) }}
      {{ end }}

      {{ if $debug }}
        {{ warnf "%s .fetchpriority=%v -> $parsedArgs.fetchpriority=%v .loading=%v -> $parsedArgs.loading=%v" $dbg
            .fetchpriority $parsedArgs.fetchpriority .loading $parsedArgs.loading }}
      {{ end }}

      {{ with .lightbox }}
        {{ $parsedArgs = merge $parsedArgs (dict "data-zoomable" (printf "%v" . ) ) }}
      {{ end }}

      {{ if not $parsedArgs.alt }}
        {{ $parsedArgs = partial "claris/_functions/resources/images/parse-image-alt"
            (merge $parsedArgs (dict "Page" $page) ) }}
      {{ end }}

      {{/* Update class lists in $parsedArgs */}}
      {{ $parsedArgs = merge $parsedArgs (dict "class" $imgClass) }}

      {{ if and false $debug }}
        {{ $initialArgs := merge $ (dict "Page" "omitted") }}
        {{ with $initialArgs.resource }}
          {{ $initialResourceString := cond (not $.resource) nil
              (printf "%v [%v]" $.resource $.resource.MediaType) }}
          {{ $initialArgs = merge $initialArgs (dict "resource" $initialResourceString) }}
        {{ end }}
        {{ warnf "%s parsed initial args:\n%v\nwith defaults:%v\nReturning parsedArgs:\n%v" $dbg
            (jsonify (dict "indent" "  ") $initialArgs )
            (jsonify (dict "indent" "  ") $defaults)
            (jsonify (dict "indent" "  ") $parsedArgs) }}
      {{ end }}

    {{ else }}

      {{ errorf "%s invalid .version:\n%v\nfrom initial args:\n%v" $dbg
          (jsonify (dict "indent" "  ") $parsedArgs.version)
          (jsonify (dict "indent" "  ") (merge $ (dict "Page" "omitted"
            "resource" (cond (not $.resource) nil
              (printf "resource=%v [%v]" $.resource $.resource.MediaType))
            )
          ) ) }}
    {{ end }}

  {{ else }}
    {{ if $debug }}
      {{ warnf "%s missing image resource: .src=%v .resource=%v" $dbg .src .resource }}
    {{ end }}
    {{ $parsedArgs = false }}
  {{ end }}
  {{ return $parsedArgs }}
{{ end }}

{{ define "partials/claris/_functions/resources/images/parse-processing-args" }}
  {{ $template := "claris/_functions/resources/images/parse-processing-args" }}
  {{ $dbg := printf "%s%v [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
    (cond (not .resource) (cond (not .src) "" .src) (printf " resource=%v [%v]" .resource .resource.MediaType) )
    (replaceRE `.*?([^/]+)$` `$1` $template) }}
  {{ $parsedArgs := dict }}
  {{ if and (reflect.IsMap $) $.Page }}
    {{ $page := .Page }}
    {{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}

    {{/* Define the valid arguments with a default value, where applicable */}}
    {{ $defaults := (dict
      "original" nil
      "target" nil
      "method" nil
      "anchor" nil
      "format" nil
      "quality" nil
    ) }}

    {{ $parsedArgs = partial "claris/_functions/resources/images/parse-default-args"
        (dict "args" $ "defaults" $defaults) }}
    {{ with $parsedArgs }}
      {{ with .format }}
        {{ if eq (printf "%T" . ) "string" }}
          {{ $parsedArgs = merge $parsedArgs (dict "format" (dict "default" . ) ) }}
          {{ if $debug }}
            {{ warnf "%s override .format=%v from .format=%v [%T]" $dbg
                (jsonify $parsedArgs.format) . . }}
          {{ end }}
        {{ else if reflect.IsMap . }}
          {{ if $debug }}
            {{ warnf "%s keep existing .format=%v" $dbg (jsonify $parsedArgs.format) }}
          {{ end }}
        {{ else }}
          {{ errorf "%s invalid .format=%v [%T]" $dbg . . }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ if $debug }}
      {{ warnf "%s parsed args:\n%v\nwith defaults:\n%v\nReturning parsedArgs:\n%v" $dbg
          (jsonify (dict "indent" "  ") (merge $ (dict "Page" "omitted") ) )
          (jsonify (dict "indent" "  ") $defaults)
          (jsonify (dict "indent" "  ") $parsedArgs) }}
    {{ end }}
  {{ else }}
    {{ errorf `%s pass a map of arguments to parse and include context under key "Page"` $dbg }}
  {{ end }}
  {{ return $parsedArgs }}
{{ end }}

{{ define "partials/claris/_functions/resources/images/parse-container-args" }}
  {{ $template := "claris/_functions/resources/images/parse-container-args" }}
  {{ $dbg := printf "%s%v [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
    (cond (not .resource) (cond (not .src) "" .src) (printf " resource=%v [%v]" .resource .resource.MediaType) )
    (replaceRE `.*?([^/]+)$` `$1` $template) }}
  {{ $parsedArgs := dict }}
  {{ if and (reflect.IsMap $) $.Page }}
    {{ $page := .Page }}
    {{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}

    {{ $floatAttributes := slice "left" "right" }}

    {{/* Define the valid arguments with a default value, where applicable */}}
    {{ $defaults := (dict
      "figureclass" slice
      "containerclass" slice
      "caption" nil
      "title" nil
      "float" nil
      "relativewidth" nil
      "background" nil
    ) }}

    {{ $parsedArgs = partial "claris/_functions/resources/images/parse-default-args"
        (dict "args" $ "defaults" $defaults) }}
    {{ with $parsedArgs }}
      {{ $figureClass := default slice .figureclass }}
      {{ $containerClass := default slice .containerclass }}

      {{ with .caption }}
        {{ $figureClass = append "caption" $figureClass }}
      {{ end }}

      {{ with .float }}
        {{ with trim . " " | lower }}
          {{ if in $floatAttributes . }}
            {{ $containerClass = append (printf "float-%s" . ) $containerClass }}
          {{ else }}
            {{ errorf "%s invalid value for .float=%v [type=%T]" $dbg . . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ with .relativewidth }}
        {{ $containerClass = append (printf "relative-width-%d" (int . ) ) $containerClass }}
      {{ end }}

      {{/* Update class lists in $parsedArgs */}}
      {{ $parsedArgs = merge $parsedArgs (dict
          "figureclass" $figureClass
          "containerclass" $containerClass
      ) }}
    {{ end }}
  {{ else }}
    {{ errorf `%s pass a map of arguments to parse and include context under key "Page"` $dbg }}
  {{ end }}
  {{ return $parsedArgs }}
{{ end }}

{{ define "partials/claris/_functions/resources/images/parse-image-alt" }}
  {{ $template := "claris/_functions/resources/images/parse-image-alt" }}
  {{ $resource := .resource }}
  {{ with .version }}
    {{ with .default }}
      {{ $resource = .resource }}
    {{ else }}
      {{ range . }}
        {{ if not $resource }}
          {{ $resource = .resource }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $dbg := printf "%s%v [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` page.RelPermalink)
    (cond (not .resource) (cond (not .src) "" .src) (printf " resource=%v [%v]" .resource .resource.MediaType) )
    (replaceRE `.*?([^/]+)$` `$1` $template) }}
  {{ $parsedArgs := dict }}
  {{ $imgAlt := false }}
  {{ if and (reflect.IsMap $) $.Page }}
    {{ $page := default page .Page }}
    {{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}

    {{ $parsedArgs = (merge $ (dict "Page" nil) ) }}
    {{ $minAltLength := 4 }}
    {{ $imgAlt = $.alt }}
    {{ if or (not $imgAlt) (lt (len $imgAlt) $minAltLength) }}
      {{ with and ($.title) (ge (len $.title) $minAltLength) }}
        {{ $imgAlt = . }}
      {{ else }}
        {{ with and $.caption (ge (len $.caption) $minAltLength) }}
          {{ $imgAlt = . }}
        {{ else }}
          {{ with $resource }}
            {{ $imgAlt = path.BaseName . | humanize | replaceRE `(.*?) [0-9]+[xX][0-9]+(.*)` `$1$2` | strings.FirstUpper }}
            {{ if $debug }}
              {{ warnf "%s Generated 'alt' attribute imgAlt=%q from %v in parsedArgs:\n%v"
                  $dbg $imgAlt . (jsonify (dict "indent" " ") (merge $parsedArgs (dict "Page" "omitted") ) ) }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if or (not $imgAlt) (lt (len $imgAlt) $minAltLength) }}
        {{ warnf "%s Failed to generate 'alt' attribute. None of alt|title|caption|version.default.resource found in parsedArgs:\n%v"
            $dbg (jsonify (dict "indent" " ") (merge $parsedArgs (dict "Page" "omitted") ) ) }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ errorf `%s pass a map of arguments to parse and include context under key "Page"` $dbg }}
  {{ end }}
  {{ with $imgAlt }}
    {{ $parsedArgs = merge $parsedArgs (dict "alt" $imgAlt) }}
  {{ end }}
  {{ return $parsedArgs }}
{{ end }}
