{{ $template := "claris/_functions/resources/images/process-image" }}
{{ $processedImg := false }}
{{ $page := default page .Page }}
{{ $debug := and false (or (cond .resource (findRE "logo" .resource.Name) false) ) }}
{{ $dbg := printf "%s %q [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .resource (replaceRE `.*?([^/]+)$` `$1` $template) }}


{{ $args := merge . (dict "Page" nil) }}

{{ $supportedFormats := slice "gif" "jpeg" "png" "tiff" "webp" }}
{{ $img := false }}
{{ $originalRatio := false }}


{{/* Must be kept in sync with "claris/_functions/resources/images/parse-args" */}}
{{ $processingArgNames := slice "resource" "original" "target" "position" "method" "anchor" "format" "quality" }}
{{ $processImageArgs := (dict "Debug" $debug) }}
{{ range $k, $v := $args }}
  {{ with and $v (in $processingArgNames $k) }}
    {{ $processImageArgs = merge $processImageArgs (dict $k $v) }}
  {{ end }}
{{ end }}

{{ with $processImageArgs.resource }}
  {{ with $img = partialCached "claris/_functions/resources/images/is-processable-image" . .Name .RelPermalink }}
  {{ else }}
    {{ errorf `%s invalid .resource=%v [%T]` $dbg . . }}
    {{ with partialCached "claris/_functions/resources/images/is-image" . .Name .RelPermalink }}
      {{ errorf "%s format=%v of source image %v is not supported" $dbg .MediaType.SubType . }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* To parse the arguments defining the target dimensions, we use the existing
    `.original` and `.target` if they exist, otherwise we parse the arguments with `parse-image-dimensions` */}}
{{ with and $img $processImageArgs }}
  {{ if not (and .original .target) }}
    {{ if $debug }}
      {{ warnf "%s parsing dimensions with args:\n%v" $dbg
          (jsonify (dict "indent" "  ") $args) }}
    {{ end }}
    {{ $processImageArgs = merge $processImageArgs (partial "claris/_functions/resources/images/parse-image-dimensions" $args) }}
    {{ if $debug }}
      {{ warnf "%s updated processImageArgs:\n%v" $dbg (jsonify (dict "indent" "  ") $processImageArgs) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ with and $img $processImageArgs.format }}
  {{ if in $supportedFormats . }}
    {{ if $debug }}
      {{ warnf "%s valid target format: .format=%q" $dbg . }}
    {{ end }}
  {{ else }}
    {{ $img = false }}
    {{ errorf "%s target format is not supported .format=%q is not in %v" $dbg . $supportedFormats }}
  {{ end }}
{{ end }}

{{ with and $img $processImageArgs }}

  {{ $imgPosition := default false .position }}

  {{ $originalRatio = .original.ratio }}
  {{ $targetRatio := .target.ratio }}

  {{ $aspectRatioTolerance := 0.0001 }}
  {{ $aspectRatioDeviation := false }}

  {{ if and $originalRatio $targetRatio }}
    {{ $aspectRatioDeviation = math.Pow (sub (div $originalRatio $targetRatio) 1) 2 }}
  {{ end }}

  {{ if or (not $targetRatio) (lt $aspectRatioDeviation $aspectRatioTolerance) }}
    {{ if $debug }}
      {{ if $targetRatio }}
        {{ warnf "%s maintain aspect: aspectRatioDeviation=%v < %v, resize originalRatio=%v to targetRatio=%v"
            $dbg $aspectRatioDeviation $aspectRatioTolerance $originalRatio $targetRatio }}
      {{ else }}
        {{ warnf "%s maintain aspect: no targetRatio, keep originalRatio=%.4g"
            $dbg $originalRatio }}
      {{ end }}
    {{ end }}

    {{/* The aspect ratio remains the same, hence resize the image */}}

    {{ $processedImg = partial "claris/_functions/resources/images/process" (merge $processImageArgs (dict
      "method" "Resize"
      "anchor" "Center"
    ) ) }}

    {{ if $debug }}
      {{ warnf "%s resized original, maintaining aspect ratio: [%dx%d, %.4g]-->[%dx%d, %.4g]"
          $dbg $img.Width $img.Height $originalRatio $processedImg.Width $processedImg.Height
          (div (cast.ToFloat $processedImg.Width) (cast.ToFloat $processedImg.Height) ) }}
    {{ end }}

  {{ else }}

    {{/* The aspect ratio changes, hence we crop the image either horizontally or vertically */}}

    {{ $ratioRatio := div $targetRatio $originalRatio }}

    {{ if $imgPosition }}

      {{/* Crop such that visible part as determined by the aspect ratio
            is consistent with the uncropped image */}}

      {{ $posHorizontal := 0.5 }}
      {{ $posVertical := 0.5 }}
      {{ $imgPosComponents := slice }}
      {{ if reflect.IsSlice $imgPosition }}
        {{ $imgPosComponents = $imgPosition }}
      {{ else }}
        {{ $imgPosComponents = split (trim $imgPosition " ") " " }}
      {{ end }}

      {{ if eq (len $imgPosComponents) 1 }}
        {{/* Assign value to both dimensions */}}
        {{ with trim (index $imgPosComponents 0) " " | lower }}
          {{ if eq . "center" }}
            {{ $posHorizontal = 0.5 }}
            {{ $posVertical = 0.5 }}
          {{ else if eq . "left" }}
            {{ $posHorizontal = 0 }}
          {{ else if eq . "right" }}
            {{ $posHorizontal = 1 }}
          {{ else if eq . "top" }}
            {{ $posVertical = 0 }}
          {{ else if eq . "bottom" }}
            {{ $posVertical = 1.}}
          {{ else if strings.HasSuffix . "%" }}
            {{ $posPercentage := div (strings.TrimRight "%" . | cast.ToFloat) 100 }}
            {{ if or (lt $posPercentage 0) (gt $posPercentage 1) }}
              {{ errorf "%s imgPosition=%v [%T] represents an invalid posPercentage=%v [%T]"
                  $dbg $imgPosition $imgPosition $posPercentage $posPercentage }}
            {{ end }}
            {{ $posHorizontal = $posPercentage }}
            {{ $posVertical = $posPercentage }}
          {{ else }}
            {{ errorf `%sinvalid imgPosition=%v [%T] is not equal to 'center' and does not end with "%%"`
                $dbg $imgPosition $imgPosition }}
          {{ end }}
        {{ end }}
      {{ else if eq (len $imgPosComponents) 2 }}
        {{ range $idx, $comp := $imgPosComponents }}
          {{ with $comp := (trim . " ") | lower }}
            {{ if in (slice "left") . }}
              {{ $posHorizontal = 0 }}
            {{ else if in (slice "center") . }}
              {{ if eq $idx 0 }}
                {{ $posHorizontal = 0.5 }}
              {{ else }}
                {{ $posVertical = 0.5 }}
              {{ end }}
            {{ else if in (slice "right") . }}
              {{ $posHorizontal = 1 }}
            {{ else if in (slice "top") . }}
              {{ $posVertical = 0 }}
            {{ else if in (slice "bottom") . }}
              {{ $posVertical = 1 }}
            {{ else if strings.HasSuffix . "%" }}
              {{ $posPercentage := div (strings.TrimRight "%" . | cast.ToFloat) 100 }}
              {{ if or (lt $posPercentage 0) (gt $posPercentage 1) }}
                {{ errorf "%s imgPosition=%v [%T]: component %v [idx=%d] represents an invalid posPercentage=%v [%T]"
                    $dbg $imgPosition $imgPosition $comp $idx $posPercentage $posPercentage }}
              {{ end }}
              {{ if eq $idx 0 }}
                {{ $posHorizontal = $posPercentage }}
              {{ else }}
                {{ $posVertical = $posPercentage }}
              {{ end }}
            {{ else }}
              {{ errorf `%sinvalid imgPosition=%v [%T]: component %v [idx=%d] is not in {top|center|bottom} or {left|center|right} and does not end with "%%"`
                  $dbg $imgPosition $imgPosition $comp $idx }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if $debug }}
        {{ warnf "%s crop %s as targetRatio = %v %v %v = original ratio (img.Width/img.Height)"
            $dbg (or (and (gt $ratioRatio 1.0) "horizontally") "vertically")
            $targetRatio (or (and (gt $ratioRatio 1.0) "<") ">") $originalRatio }}
      {{ end }}

      {{ if gt $ratioRatio 1.0 }}

        {{ $ratioHeight := div $img.Width $targetRatio }}
        {{ if $debug }}
          {{ warnf "%s posVertical=%v .Height=%v ratioHeight=%v .target.height=%v"
              $dbg $posVertical $img.Height $ratioHeight .target.height }}
        {{ end }}

        {{ if eq $posVertical 0.0 }}
          {{ $processedImg = partial "claris/_functions/resources/images/process" (merge $processImageArgs (dict
            "method" "Fill"
            "anchor" "Top"
          ) ) }}
        {{ else if eq $posVertical 1.0 }}
          {{ $processedImg = partial "claris/_functions/resources/images/process" (merge $processImageArgs (dict
            "method" "Fill"
            "anchor" "Bottom"
          ) ) }}

        {{ else }}

          {{/* Crop with anchor set to Bottom, then fill with anchor set to Top */}}

          {{ $cropHeight := sub $img.Height (mul $posVertical (sub $img.Height $ratioHeight) ) | math.Round | cast.ToInt }}

          {{/* Crop from top */}}
          {{ $cropArgs := printf "%dx%d Bottom" $img.Width $cropHeight }}
          {{ if $debug }}
            {{ warnf "%s .Crop %v: posVertical=%v .Height=%v ratioHeight=%v"
                $dbg $cropArgs $posVertical $img.Height $ratioHeight }}
          {{ end }}
          {{ $processedImg = $img.Crop $cropArgs }}

          {{/* Fill from bottom */}}
          {{ $processedImg = partial "claris/_functions/resources/images/process" (merge $processImageArgs (dict
            "resource" $processedImg
            "method" "Fill"
            "anchor" "Top"
          ) ) }}
        {{ end }}

      {{ else if lt $ratioRatio 1.0 }}

        {{ $ratioWidth := mul $img.Height $targetRatio }}
        {{ if $debug }}
          {{ warnf "%s posHorizontal=%v .Width=%v ratioWidth=%v .target.width=%v"
              $dbg $posHorizontal $img.Width $ratioWidth .target.width }}
        {{ end }}

        {{ if eq $posHorizontal 0.0 }}
          {{ $processedImg = partial "claris/_functions/resources/images/process" (merge $processImageArgs (dict
            "method" "Fill"
            "anchor" "Left"
          ) ) }}
        {{ else if eq $posHorizontal 1.0 }}
          {{ $processedImg = partial "claris/_functions/resources/images/process" (merge $processImageArgs (dict
            "method" "Fill"
            "anchor" "Right"
          ) ) }}

        {{ else }}

          {{/* Crop with anchor set to Right, then fill with anchor set to Left */}}

          {{ $cropWidth := sub $img.Width (mul $posHorizontal (sub $img.Width $ratioWidth) ) | math.Round | cast.ToInt }}

          {{/* Crop from Left */}}
          {{ $cropArgs := printf "%dx%d Right" $cropWidth $img.Height }}
          {{ if $debug }}
            {{ warnf "%s .Crop %v: posHorizontal=%v .Width=%v ratioWidth=%v"
                $dbg $cropArgs $posHorizontal $img.Width $ratioWidth }}
          {{ end }}
          {{ $processedImg = $img.Crop $cropArgs }}

          {{/* Fill from Left */}}
          {{ $processedImg = partial "claris/_functions/resources/images/process" (merge $processImageArgs (dict
            "resource" $processedImg
            "method" "Fill"
            "anchor" "Left"
          ) ) }}
        {{ end }}

      {{ else }}
        {{ warnf "%s ratioRatio=%v" $ratioRatio }}
        {{ $processedImg = partial "claris/_functions/resources/images/process" (merge $processImageArgs (dict
          "method" "Fill"
          "anchor" "Center"
        ) ) }}
      {{ end }}

    {{ else }}

      {{ $processedImg = partial "claris/_functions/resources/images/process" (merge $processImageArgs (dict
        "method" "Fill"
        "anchor" "Center"
      ) ) }}

    {{ end }}
  {{ end }}
{{ end }}

{{ with and $processedImg (partialCached "partials/claris/_functions/resources/images/is-image" $processedImg $processedImg) }}
  {{ if $debug }}
    {{ warnf "%s returning %v[%dx%d ratio=%.4g] from %v[%dx%d ratio=%.4g] from args:\n%v\nprocessImageArgs: %v" $dbg
        $processedImg.MediaType
        $processedImg.Width $processedImg.Height
        (div (cast.ToFloat $processedImg.Width) (cast.ToFloat $processedImg.Height) )
        $img.MediaType $img.Width $img.Height $originalRatio
        (jsonify (dict "indent" "  ") (merge $ (dict "Page" nil) ) )
        (jsonify (dict "indent" "  ") $processImageArgs) }}
  {{ end }}
{{ else }}
  {{ errorf "%s image processing failed. Returning %v[%T]" $dbg $processedImg $processedImg }}
{{ end }}
{{ return $processedImg }}

{{ define "partials/claris/_functions/resources/images/process" }}
  {{ $template := "claris/_functions/resources/images/process" }}
  {{ $page := default page .Page }}
  {{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
  {{ $dbg := printf "%s %q [%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) .resource (replaceRE `.*?([^/]+)$` `$1` $template) }}
  {{ $processedImg := .resource }}

  {{ if and ($img := .resource) ($processingMethod := lower .method) }}

    {{ $processingArgsList := slice }}

    {{ with .target.sizespec }}
      {{ $processingArgsList = append . $processingArgsList }}
    {{ end }}

    {{ with .anchor }}
      {{ $processingArgsList = append . $processingArgsList }}
    {{ end }}

    {{ with .format }}
      {{ $processingArgsList = append . $processingArgsList }}
    {{ end }}

    {{ with .quality }}
      {{ $processingArgsList = append (printf "q%d" .) $processingArgsList }}
    {{ end }}

    {{ with $processingArgsList }}
      {{ $processingArgs := delimit $processingArgsList " " }}

      {{ if $debug }}
        {{ warnf `%s .%s %q` $dbg (strings.FirstUpper $processingMethod) $processingArgs }}
      {{ end }}

      {{ if in (slice "resize") $processingMethod }}
        {{ $processedImg = $img.Resize $processingArgs }}
      {{ else if in (slice "fill") $processingMethod }}
        {{ $processedImg = $img.Fill $processingArgs }}
      {{ else if in (slice "crop") $processingMethod }}
        {{ $processedImg = $img.Crop $processingArgs }}
      {{ else }}
        {{ errorf "%s invalid arguments: .resource=%v: an image resource and .method=%v: name of a valid processing method: resize | fill | crop"
            $dbg .resource .method }}
      {{ end }}
    {{ else }}
      {{ errorf "%s .resource=%v .method=%v: nothing to do based on processing arguments:\n%v"
          $dbg .resource .method (jsonify (dict "indent" "  ") . ) }}
      {{ $processedImg = $img }}
    {{ end }}

  {{ else }}
    {{ errorf "%s required arguments: .resource=%v: an image resource and .method=%v: name of a valid processing method: resize | fill | crop"
        $dbg .resource .method }}
  {{ end }}
  {{ return $processedImg }}
{{ end }}
