{{ $template := "claris/_functions/resources/images/render-image-attrs" }}
{{ $page := default page .Page }}
{{ $debug := and false (or .Debug ($page.Param "clarisdebug") ) }}
{{ $dbg := printf "%s[%s]" (replaceRE `.*?((?:[^/]+/){,2})$` `$1` $page.RelPermalink) (replaceRE `.*?([^/]+)$` `$1` $template) }}

{{ $containerElement := dict }}
{{ $containerElementName := "img" }}
{{ $containerAttr := dict }}
{{ $containerClass := slice }}
{{ $containerChildren := slice }}

{{ $imageElement := dict }}

{{ $defaultVariantName := "default" }}
{{ $sourceAttributeNames := slice "sizes" "media" "style" }}
{{ $sourceAttributeNamesImg := slice "alt" "title" "class" "data-zoomable" }}

{{ $parsedArgs := partialCached "claris/_functions/resources/images/parse-args"
     (merge $ (dict "Page" $page) ) (merge $ (dict "Page" nil) ) }}

{{ if $debug }}
  {{ warnf "%s called parse-args with:\n%v\nNow generating attributes for render-image with parsedArgs:\n%v" $dbg
      (jsonify (dict "indent" "  ") (merge $ (dict "Page" "omitted"
        "resource" (cond (not .resource) .resource (printf "%v [%v]" .resource .resource.MediaType) )) ) )
      (jsonify (dict "indent" "  ") $parsedArgs) }}
{{ end }}

{{ $sourceChildren := slice }}
{{ with $parsedArgs }}
  {{/* FIXME: Here we need to add additional logic to deal with multiple variants */}}
  {{ $variantSrcSetArgs := dict }}
  {{ with .image }}
    {{ $variantSrcSetArgs = merge $variantSrcSetArgs . }}
  {{ end }}
  {{ with .processing }}
    {{ $variantSrcSetArgs = merge $variantSrcSetArgs . }}
  {{ end }}
  {{ $variants := dict $defaultVariantName . }}

  {{ if and true $debug }}
    {{ warnf "%s gathering source child elements for variants:\n%v"
        $dbg (jsonify (dict "indent" "  ") $variants ) }}
  {{ end }}

  {{ range $variantName, $variantMeta := $variants }}
    {{ $variantSrcSets := dict }}
    {{ range $versionID, $versionMeta := $variantMeta.image.version }}

      {{ $versionSrcSetArgs := merge $variantSrcSetArgs $versionMeta }}
      {{ if $versionMeta.resource }}
        {{ if $debug }}
          {{ warnf "%s calling image-srcset with versionSrcSetArgs:\n%v" $dbg
              (jsonify (dict "indent" "  ") (merge $versionSrcSetArgs
                (dict "resource" (printf "%s [%s]" $versionSrcSetArgs.resource.Name
                  $versionSrcSetArgs.resource.MediaType)))) }}
        {{ end }}

        {{ with partialCached "claris/_functions/resources/images/image-srcset"
            (merge $versionSrcSetArgs (dict "Page" $page) ) $versionSrcSetArgs }}
          {{ $variantSrcSets = merge $variantSrcSets . }}
          {{ if $debug }}
            {{ warnf "%s image-srcset with versionSrcSetArgs:\n%v\nreturned:\n%v" $dbg
                (jsonify (dict "indent" "  ") (merge $versionSrcSetArgs
                  (dict "resource" (printf "%s [%s]" $versionSrcSetArgs.resource.Name
                    $versionSrcSetArgs.resource.MediaType))))
                (jsonify (dict "indent" "  ") .) }}
          {{ end }}
        {{ else }}
          {{ errorf "%s failed to get srcSet with versionSrcSetArgs:\n%v" $dbg
              (jsonify (dict "indent" "  ") $versionSrcSetArgs) }}
        {{ end }}

      {{ else }}

        {{ errorf "%s missing image resource=%#v\nversionSrcSetArgs for variant=%v:\n%v" $dbg
            $versionMeta.resource $variantName (jsonify (dict "indent" "  ") $versionSrcSetArgs) }}

      {{ end }}
    {{ end }}

    {{ with $variantSrcSets }}

      {{ if $debug }}
        {{ warnf "%s generated variantSrcSets:\n%v" $dbg (jsonify (dict "indent" "  ") $variantSrcSets) }}
      {{ end }}

      {{ $styleAttr := false }}
      {{ with $variantMeta.image.position }}
        {{ $styleAttr = printf "object-fit: cover; object-position: %s" . }}
      {{ end }}

      {{ $lastSourceIdx := sub (len .formats) 1 }}
      {{/* If there are multiple sources, all up to the last one are rendered as `source` elements */}}
      {{ $elementName := "source" }}
      {{ if $debug }}
        {{ warnf "%s adding attributes for variant=%v:\n%v" $dbg $variantName (jsonify (dict "indent" "  ") . ) }}
      {{ end }}

      {{ $variantChildren := slice }}
      {{ range $formatIdx, $formatSrcSet := .formats }}
        {{ if $debug }}
          {{ warnf "%s adding attributes for rendering to formatSrcSet:\n%v" $dbg
            (jsonify (dict "indent" "  ") (merge .
              (dict "resource" (printf "%s [%s]" .resource.Name .resource.MediaType) ) ) ) }}
        {{ end }}

        {{/* The `img` element must always be the last element within `picture` */}}
        {{ if eq $formatIdx $lastSourceIdx }}
          {{ $elementName = "img" }}
        {{ end }}

        {{ $sourceAttr := slice }}
        {{/* The partial "claris/_functions/resources/images/image-srcset"
            stores a reference to the last image resource in `.resource`.
            Hence this is the last image of the srcset and its
            `.RelPermalink` attribute can be used as the `src` attribute
            of the `img` element */}}
        {{ with .resource }}
          {{ with and (eq $elementName "img") .RelPermalink }}
            {{ $sourceAttr = merge $sourceAttr (dict "src" . ) }}
          {{ end }}
          {{ with and (eq $elementName "source") .MediaType }}
            {{ $sourceAttr = merge $sourceAttr (dict "type" . ) }}
          {{ end }}
          {{ with .Width }}
            {{ $sourceAttr = merge $sourceAttr (dict "width" . ) }}
          {{ end }}
          {{ with .Height }}
            {{ $sourceAttr = merge $sourceAttr (dict "height" . ) }}
          {{ end }}
        {{ end }}

        {{ range $k := slice "src" "srcset" }}
          {{ with $v := index $formatSrcSet $k }}
            {{ $sourceAttr = merge $sourceAttr (dict $k $v) }}
          {{ end }}
        {{ end }}
        {{ $attributeNames := $sourceAttributeNames }}
        {{ if eq $elementName "img" }}
          {{ $attributeNames = append $sourceAttributeNamesImg $attributeNames }}
        {{ end }}
        {{ range $k, $v := $variantMeta.image }}
          {{ if in $attributeNames $k }}
            {{ $sourceAttr = merge $sourceAttr (dict $k $v) }}
          {{ end }}
        {{ end }}
        {{ $sourceElement := (dict
          "name" $elementName
          "attr" $sourceAttr
        ) }}
        {{ if $debug }}
          {{ warnf "%s adding HTML %q element as source %d of %d:\n%v" $dbg
              $elementName (add $formatIdx 1) (len $variantSrcSets.formats)
              (jsonify (dict "indent" "  ") . ) }}
        {{ end }}
        {{ $variantChildren = append $sourceElement $variantChildren }}
      {{ end }}

      {{ if $debug }}
        {{ warnf "%s adding sources for variant=%v:\n%v" $dbg
            $variantName (jsonify (dict "indent" "  ") $variantChildren) }}
      {{ end }}
      {{ $sourceChildren = append $variantChildren $sourceChildren }}
    {{ end }}
  {{ end }}
  {{ if gt (len $sourceChildren) 1 }}
    {{ $imageElement = (dict
      "name" "picture"
      "children" $sourceChildren
    ) }}
  {{ else }}
    {{ $imageElement = index $sourceChildren 0 }}
  {{ end }}
  {{ $containerChildren = append $imageElement $containerChildren }}
{{ end }}

{{ with $containerArgs := $parsedArgs.container }}
  {{/* Determine the HTML element to use as `containerElement` and `imageElement`:
    - containerElement: the outermost element to render the image
      with all its variants and versions. Could be `figure`, `picture` or `img`
    - imageElement: the element that contains the sourceElements.
      Either `picture` or `img` */}}
  {{ with $containerArgs.containerclass }}
    {{ $containerClass = append . $containerClass | uniq }}
  {{ end }}
  {{ with $containerArgs.figureclass }}
    {{/* As there is a `figureclass`, we use a `figure` element as the container */}}
    {{ $containerElementName = "figure" }}
    {{ $containerClass = append . $containerClass | uniq }}
  {{ end }}
  {{ with $containerArgs.caption }}
    {{/* As there is a `caption` attribute, we use a `figure` element as the container */}}
    {{ $containerElementName = "figure" }}
    {{ $captionElement := (dict
      "name" "figcaption"
      "content" ($page.RenderString . )
      "attr" (dict "class" (slice "caption font-meta"))
    ) }}
    {{ $containerChildren = append $captionElement $containerChildren }}
  {{ end }}
{{ end }}

{{ with $containerClass }}
  {{ $containerAttr = (merge $containerAttr (dict "class" . ) ) }}
{{ end }}
{{ if $debug }}
  {{ warnf "%s containerElement=%v: attr:\n%v\nchildren:\n%v" $dbg
      $containerElementName
      (jsonify (dict "indent" "  ") $containerAttr)
      (jsonify (dict "indent" "  ") $containerChildren) }}
{{ end }}

{{ $containerElement = (dict
  "name" $containerElementName
  "attr" $containerAttr
  "children" $containerChildren
) }}

{{ if $debug }}
  {{ warnf "%s returning containerElement:\n%v" $dbg (jsonify (dict "indent" "  ") $containerElement ) }}
{{ end }}

{{ return $containerElement }}
